<!-- 부트스트랩5 적용  -->
<!-- (참고동영상): 기초부터 제작하는 파이썬 장고(Python Django) 프로젝트  -->
<!-- 여기 이 base.html파일이 다른 페이지들을 모두 총괄관리한다.  -->

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="X-UA-Compatible"
      content="ie=edge"
    <meta name="description" content="직지35회" />
    <title>terraone의 홈페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  </head>

  <body style="background: #FAFAFA;">
    <div style= "display: flex; flex-direction: column;align-items: center; width: 100%">
      <div style="border: solid 1px rgba(219, 219, 219, 1); width:  400px; height:400px; margin-top: 30px;padding: 10px 10px;">

        <div style="text-align:center">인스타그램 로고</div>
        <hr>
        <div>친구들의 사진과 동영상을 보려면 가입하세요</div>


        <div class="form-floating mb-3">
          <input type="email" class="form-control" style="font-size:14px; height: 24px" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput" style="font-size: 14px;padding: 4px 10px">휴대폰번호 또는 이메일주소</label>
        </div>

          <div class="form-floating mb-3">
          <input type="text" class="form-control" style="font-size:14px; height: 24px" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput" style="font-size: 14px;padding: 4px 10px">성명</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" style="font-size:14px; height: 24px" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput" style="font-size: 14px;padding: 4px 10px">닉네임</label>
        </div>

        <div class="form-floating mb-3">
          <input type="password" class="form-control" style="font-size:14px; height: 24px" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword"  style="font-size: 14px;padding: 4px 10px">패스워드 입력</label>
        </div>


        <button type="button" class="btn btn-primary" style="width:100%; height: px">가입 버튼</button> 



    </div>


        <div class="test-1" style="margin-top: 15px; padding:  20px;text-align: center;border: solid 1px rgba(219, 219, 219, 1); width:  400px; height:200px;">
          <div>계정이 있으신가요? 로그인</div>
        </div>  






    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
  </body>
</html>